<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${product.title}]] &ndash; selmag</title>
</head>
<body>
<a data-th-href="@{/catalog/products/list}">&larr; back to product list</a>
<h1 data-th-text="${product.title}"></h1>
<ul>
    <li><strong>ID</strong>: <span data-th-text="${product.id}"></span></li>
    <li><strong>Title</strong>: <span data-th-text="${product.title}"></span></li>
    <li><strong>Details</strong>: <span data-th-text="${product.details}"></span></li>
</ul>

</body>
</html>